@model IList<Blog>

<div>
    <a class="btn btn-success" style="width:100%">Add new slider</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col">Date</th>
            <th scope="col">Image</th>
            <th>CRUD</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.ID</th>
            <td>@item.Title</td>
            <td>@item.Text</td>
            <td>@item.Date</td>
            <td>
                <img width="200" height="150" src="~/img/@item.Image" alt="Alternate Text" />
            </td>

            <td>
                <a asp-controller="Blog" asp-action="Edit" asp-route-id="@item.ID" style="color:green"><i class="fas fa-edit"></i></a>

                <a href="#"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>

        }



    </tbody>
</table>
