@model HomeVM
@{ 
    List<New> news = new List<New>();
    List<New> animatednews = new List<New>();
    int num = 1;
    foreach (var item in Model.News)
    {
        if (num>4)
        {
            news.Add(item);
        }
        else
        {
            animatednews.Add(item);
        }
        num += 1;

    }


}
<!-- Wrapper All -->
<div class="resumo_fn_wrapper">

    <!-- MODALBOX -->
   
    <!-- /MODALBOX -->

    <div class="resumo_fn_content">

        <!-- Main Left Part -->
        <div class="resumo_fn_left">

            <!-- Page -->
            <div class="resumo_fn_page">


                <!-- Home Section -->
                <section id="home">
                    <div class="container">
                        <div class="roww">

                            <!-- Main Title -->
                            @foreach (var item in Model.Homes)
                            {<div class="resumo_fn_main_title">
                                    <h3 class="subtitle">Introduction</h3>
                                    <h3 class="title">@item.Title</h3>
                                    <p class="desc">@item.Text</p>
                                </div>
                            }
                            <!-- /Main Title -->

                        </div>
                    </div>
                </section>
                <!-- /Home Section -->
                <!-- About Section -->
                @foreach (var item in Model.Abouts)
                {
                    <section id="about">
                        <div class="container">
                            <div class="roww">

                                <!-- Main Title -->
                                <div class="resumo_fn_main_title">
                                    <h3 class="subtitle">About Me</h3>
                                    <h3 class="title">Biography</h3>
                                    <p class="desc">@Html.Raw(item.Text)</p>
                                </div>
                                <!-- /Main Title -->
                                <!-- About Information -->
                                <div class="resumo_fn_about_info">
                                    <div class="about_left">
                                        <table>
                                            <tr>
                                                <th>Name</th>
                                                <th>@item.Name</th>
                                            </tr>
                                            <tr>
                                                <th>Birthday</th>
                                                <th>@item.Birthday</th>
                                            </tr>
                                            <tr>
                                                <th>Age</th>
                                                <th>@item.Age</th>
                                            </tr>
                                            <tr>
                                                <th>Address</th>
                                                <th>@item.Address</th>
                                            </tr>
                                            <tr>
                                                <th>Phone</th>
                                                <th>@item.Phone</th>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <th>@item.Email</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="about_right">
                                        <!-- Download CV Button -->
                                        <div class="resumo_fn_cv_btn">
                                            <a href="img/@item.Image" download>
                                                <span class="icon">
                                                    <img src="svg/inbox.svg" alt="" class="fn__svg" />
                                                    <img src="svg/arrow.svg" alt="" class="fn__svg arrow" />
                                                </span>
                                                <span>Download CV</span>
                                            </a>
                                        </div>
                                        <!-- /Download CV Button -->
                                    </div>
                                </div>
                                <!-- /About Information -->

                            </div>
                        </div>
                    </section>

                }                <!-- /About Section -->
                <!-- Portfolio Section -->
                <section id="portfolio">

                    <div class="container">
                        <div class="roww">
                            <!-- Main Title -->
                            <div class="resumo_fn_main_title">
                                <div class="my__nav">
                                    <a href="#" class="prev"><span></span></a>
                                    <a href="#" class="next"><span></span></a>
                                </div>
                                <h3 class="subtitle">Portfolio</h3>
                                <h3 class="title">Featured Projects</h3>
                            </div>
                            <!-- /Main Title -->
                        </div>
                    </div>

                    <div class="container noright">
                        <div class="row">

                            <div class="owl-carousel modal_items" data-from="portfolio" data-count="5">

                                    @foreach (var item in Model.Portfolios)
                                    {

                                        <div class="item MmodalL_item" data-index="@item.ID">
                                            <div class="img_holder">
                                                <img src="img/thumb/square.jpg" alt="">
                                                <div class="abs_img" data-bg-img="img/@item.Image"></div>
                                            </div>
                                            <div class="title_holder">
                                                <h3><a href="@item.Link" target="_blank">@item.Name</a></h3>
                                            </div>
                                        </div>
                                    }

                            </div>

                        </div>
                    </div>

                </section>
                <!-- /Portfolio Section -->
                <!-- News Section -->
                <section id="news">
                    <div class="container">
                        <div class="roww">

                            <!-- Main Title -->
                            <div class="resumo_fn_main_title">
                                <h3 class="subtitle">News &amp; Tips</h3>
                                <h3 class="title">Latest Articles</h3>
                            </div>
                            <!-- /Main Title -->
                            <!-- Blog List -->
                            <div class="resumo_fn_blog_list">

                                <ul class="modal_items" data-from="blog" data-count="5">
                                    @foreach (var item in animatednews)
                                    {
                                        <li>
                                            <div class="item modal_itemmm" data-index="@item.ID">
                                                <div class="img_holder">
                                                    <img src="img/thumb/square.jpg" alt="">
                                                    <div class="abs_img" data-bg-img="img/@item.Image"></div>
                                                </div>
                                                <div class="title_holder">
                                                    <p>@item.Date</p>
                                                    <h3><a href="@item.Link" target="_blank">@item.Text</a></h3>
                                                </div>
                                            </div>
                                        </li>

                                    }


                                    @foreach (var item in news)
                                    {

                                        <li class="be_animated">
                                            <div class="item modal_itemmm" data-index="@item.ID">
                                                <div class="img_holder">
                                                    <img src="img/thumb/square.jpg" alt="">
                                                    <div class="abs_img" data-bg-img="img/@item.Image"></div>
                                                </div>
                                                <div class="title_holder">
                                                    <p>@item.Date</p>
                                                    <h3><a href="@item.Link" target="_blank">@item.Text</a></h3>
                                                </div>
                                            </div>
                                        </li>

                                    }



                                </ul>

                                <div class="clearfix"></div>

                                <div class="load_more">
                                    <a href="#" data-done="Done" data-no="No more articles found">
                                        <span class="text">Load More Articles</span>
                                        <span class="fn__pulse">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </a>
                                </div>

                            </div>
                            <!-- /Blog List -->


                        </div>
                    </div>
                </section>
                <!-- /News Section -->
                <!-- Contact Section -->
                <section id="contact">
                    <div class="container">
                        <div class="roww resumo_fn_contact">

                            <!-- Main Title -->
                            <div class="resumo_fn_main_title">
                                <h3 class="subtitle">Contact</h3>
                                <h3 class="title">Get In Touch</h3>
                            </div>
                            <!-- /Main Title -->
                            <!-- Contact Form -->
                            <form class="contact_form" action="https://frenify.net/" method="post" autocomplete="off" data-email="frenifyteam@gmail.com">

                                <!--
                        Don't remove below code in avoid to work contact form properly.
                        You can chance dat-success value with your one. It will be used when user will try to contact via contact form and will get success message.
                    -->
                                <div class="success" data-success="Your message has been received, we will contact you soon."></div>
                                <div class="empty_notice"><span>Please Fill Required Fields!</span></div>
                                <!-- -->

                                <div class="items_wrap">
                                    <div class="items">
                                        <div class="item half">
                                            <div class="input_wrapper">
                                                <input id="name" type="text" />
                                                <span class="moving_placeholder">Name *</span>
                                            </div>
                                        </div>
                                        <div class="item half">
                                            <div class="input_wrapper">
                                                <input id="email" type="email" />
                                                <span class="moving_placeholder">Email *</span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="input_wrapper">
                                                <textarea id="message"></textarea>
                                                <span class="moving_placeholder">Message</span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <a id="send_message" href="#">Send Message</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- /Contact Form -->
                        </div>
                    </div>
                </section>
                <!-- /Contact Section -->


            </div>
            <!-- /Page -->


            <footer id="footer">
                <div class="footer_top">
                    <a href="#" class="resumo_fn_totop"><span></span></a>
                </div>
                <div class="footer_content">
                    <div class="container">
                        <p>
                            Copyright © 2022. All rights reserved. <br />
                            Developed by KS
                        </p>
                    </div>
                </div>
            </footer>


        </div>
        <!-- /Main Left Part -->
        <!-- Main Right Part -->
        <div class="resumo_fn_right">

            <!-- Menu Triggger -->
            <a href="#" class="menu_trigger">
                <span class="text">Menu</span>
                <span class="hamb">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <!-- /Menu Triggger -->
            <!-- Panel Content -->
            @foreach (var item in Model.Homes)
            {
                <div class="right_in">
                    <div class="right_top">
                        <div class="border1"></div><div class="border2"></div>

                        <div class="img_holder">
                            <img src="img/thumb/square.jpg" alt="">
                            <div class="abs_img" data-bg-img="img/@item.Image"></div>
                        </div>
                        <div class="title_holder">
                            <h5>@item.HolderTitle</h5>
                            <h3>
                                <span class="animated_title">
                                    <span class="title_in">@item.Tag1</span>
                                    <span class="title_in">@item.Tag2</span>
                                    <span class="title_in">@item.Tag3</span>
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            }            
            <!-- /Panel Content -->

        </div>
        <!-- /Main Right Part -->

    </div>

    <!-- Right Hidden Navigation -->
    <a href="#" class="resumo_fn_nav_overlay"></a>
    <div class="resumo_fn_navigation">
        <a href="#" class="closer"></a>

        <!-- Navigation Content -->
        <div class="nav_in">

            <nav id="nav">
                <h3 class="label">Menu</h3>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News &amp; Tips</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>

            <div class="nav_footer">
                <div class="social">
                    <ul>
                        @foreach (var item in Model.Socials)
                        {
                            <li><a href="@item.Twitter" target="_blank"><img src="svg/social/twitter.svg" alt="" class="fn__svg"></a></li>
                            <li><a href="@item.Facebook" target="_blank"><img src="svg/social/facebook.svg" alt="" class="fn__svg"></a></li>
                            <li><a href="@item.Instagram" target="_blank"><img src="svg/social/instagram.svg" alt="" class="fn__svg"></a></li>
                        }

                    </ul>
                </div>
            </div>

        </div>
        <!-- /Navigation Content -->

    </div>
    <!-- /Right Hidden Navigation -->


    <div class="frenify-cursor cursor-outer" data-default="yes" data-link="yes" data-slider="yes"><span class="fn-cursor"></span></div>
    <div class="frenify-cursor cursor-inner" data-default="yes" data-link="yes" data-slider="yes"><span class="fn-cursor"><span class="fn-left"></span><span class="fn-right"></span></span></div>

</div>
<!-- /Wrapper All -->