@model List<Counter>

@foreach (var item in Model)
{
<tr>
    <td>@item.ID</td>
    <td>@item.Odometer</td>
    <td>@item.Title</td>
    <td>@item.Text</td>
    <td>@item.Icon</td>

    <td class="text-end">
        <div>
            <a href="/Admin/Counter/Edit/@item.ID"><i class="fas fa-edit"></i></a>
            <a href="/Admin/Counter/Delete/@item.ID" onclick="return confirm('Are you delete?')"><i class="fas fa-trash-alt"></i></a>
        </div>
    </td>
</tr>}

