@model IList<About>


<table class="table table-bordered" style="margin-top:50px">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Subtitle</th>
            <th scope="col">Description</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">From</th>
            <th scope="col">IconLogo</th>
            <th scope="col">ServiceTitle</th>
            <th scope="col">ServiceDescription</th>
            <th>CRUD</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.ID</th>
            <td>
                <img width="200" height="150" src="~/img/@item.Image" alt="Alternate Text" />
            </td>
            <td>@item.Subtitle</td>
            <td>@item.Description</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Age</td>
            <td>@item.From</td>
            <td>@item.IconLogo</td>
            <td>@item.Servicetitle</td>
            <td>@item.ServiceDescription</td>

            <td>
                <a asp-controller="About" asp-action="Edit" asp-route-id="@item.ID" style="color:green"><i class="fas fa-edit"></i></a>

                <a href="#"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>

        }



    </tbody>
</table>