@model IEnumerable<Student>
@{ Layout = "_Layout"; ViewBag.Title = "All Reservations";}

<h2>All Students</h2>
<a asp-action="AddStudent" class="btn btn-sm btn-primary">Add Student</a>
<a asp-action="GetStudent" class="btn btn-sm btn-secondary">Get Student</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.ID</td>
                <td>@r.Fullname</td>
                <td>@r.Email</td>
                <td>
                    <a asp-action="UpdateStudent" asp-route-id="@r.ID">
                        Update
                    </a>
                </td>
                
                <td>
                    <form asp-action="DeleteStudent" method="post">
                        <input type="hidden" value="@r.ID" name="studentID" />
                        <input type="submit" value="Delete" onclick="return confirm('Are you delete?')" style="color:red" />  
                        
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>


@{ #region
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>


        <h2>Add Student</h2>
        <div class="form-group" style="display:none">
            <input id="txtStudentID" class="form-control" name="ID" />
        </div>
        <div class="form-group">
            <label for="Fullname">Fullname:</label>
            <input id="txtStudentName" class="form-control" name="Fullname" />
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input id="txtStudentEmail" class="form-control" name="Email" />
        </div>
        <div class="text-center panel-body">
            <button id="btnSave" class="btn btn-sm btn-primary">Save</button>
        </div>

        <button onclick="GetAllStudent()" class="btn btn-primary">Load Students</button>

        <br />

        <table id="tblStudent" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
        </table>


        <script type="text/javascript">



            $(document).ready(function () {

            });


            function GetAllStudent() {
                $.getJSON("/Student/GetAllStudent", function (students) {
                    $("#tblStudent tbody tr").remove();
                    $.map(students, function (student) {
                        $("#tblStudent tbody").append("<tr>"
                            + "<td>" + student.ID + "</td>"
                            + "<td>" + student.Fullname + "</td>"
                            + "<td>" + student.Email + "</td>"
                            + "</tr>");
                    });
                });
            }

        </script>*@


    #endregion }