@model ALLVM
<!-- style switcher -->
<div class="style-switcher">
    <a href="#" id="switcher-toggler"><i class="fa fa-cog"></i></a>
    <h3>Layout Options</h3>
    <div class="layout-feature" id="colorMode">
        <a href="#" class="dark-switcher" data-theme="notech-dark">Dark</a>
        <a href="#" class="light-switcher" data-theme="notech-light">Light</a>
        <button class="boxed-switcher">Boxed</button><!-- /.ltr-switcher -->
    </div><!-- /.language-feature -->
</div>
<!-- end style switcher -->

<!--Main Slider Start-->
<section class="main-slider" id="home">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
        <div class="swiper-wrapper">

            @foreach (var item in Model.homes)
            {
                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(../assets/images/backgrounds/@item.Image);"></div>
                    <!-- /.image-layer -->
                    <div class="main-slider__shape-1">
                        <img src="~/assets/images/shapes/main-slider-shape-1.png" alt="">
                    </div>
                    <div class="main-slider__shape-2">
                        <img src="~/assets/images/shapes/main-slider-shape-2.png" alt="">
                    </div>
                    <div class="main-slider__shape-3">
                        <img src="~/assets/images/shapes/main-slider-shape-3.png" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">
                                    <p>@item.Title1</p>
                                    <h2>@item.Title2</h2>
                                    <div class="main-slider__btn-video-box">
                                        <div class="main-slider__video-link">
                                            <a href="@item.VideoLink"
                                               class="video-popup">
                                                <div class="main-slider__video-icon">
                                                    <span class="fa fa-play"></span>
                                                    <i class="ripple"></i>
                                                </div>
                                            </a>
                                            <h3 class="main-slider__video-text">Watch <br> how it works</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-pagination" id="main-slider-pagination"></div>

    </div>
</section>
<!--Main Slider End-->
<!--Feature One Start-->
<section class="feature-one">
    <div class="container">
        <div class="row">
            <!--Feature One Single-->
            @foreach (var item in Model.features)
            {
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <!--Feature One Single-->
                    <div class="feature-one__single">
                        <div class="feature-one__img">
                            <img src="assets/images/resources/@item.Image" style="height:330px" alt="">
                            <div class="feature-one__title-box">
                                <h3 class="feature-one__title"><a href="@item.Link">@item.Title</a></h3>
                            </div>
                            <div class="feature-one__hover-content">
                                <div class="feature-one__icon">
                                    <span>@Html.Raw(item.Icon)</span>
                                </div>
                                <h3 class="feature-one__hover-title">
                                    <a href="@item.Link">@item.Title</a>
                                </h3>
                                <p class="feature-one__hover-text">@item.Text</p>
                                <div class="feature-one__learn-more">
                                    <a href="@item.Link">Learn more<i class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!--Feature One End-->
<!--Get To Know Start-->
<section class="get-to-know" id="about">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.abouts)
            {
                <div class="col-xl-6">
                    <div class="get-to-know__left wow slideInLeft" data-wow-delay="100ms"
                         data-wow-duration="2500ms">
                        <div class="get-to-know__img-box">
                            <div class="get-to-know__img">
                                <img src="~/assets/images/resources/@item.Image1" style="height:400px" alt="">
                            </div>
                            <div class="get-to-know__small-img">
                                <img src="~/assets/images/resources/@item.Image2" style="height:250px" alt="">
                            </div>
                            <div class="get-to-know-shape-1">
                                <img src="~/assets/images/shapes/get-to-know-shape-1.png"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="get-to-know__right">
                        <div class="section-title text-left">
                            <div class="section-title__tagline-box">
                                <span class="section-title__tagline">Get to know us</span>
                                <div class="section-title-shape">
                                    <img src="~/assets/images/shapes/section-title-shape.png" alt="">
                                </div>
                            </div>
                            <h2 class="section-title__title">@item.Title</h2>
                        </div>
                        <p class="get-to-know__text">
                            @item.Text
                        </p>
                        <ul class="list-unstyled get-to-know__points">
                            <li>
                                <div class="icon">
                                    <span class="icon-check"></span>
                                </div>
                                <div class="text">
                                    <p>@item.List</p>
                                </div>
                            </li>
                            @*<li>
                                    <div class="icon">
                                        <span class="icon-check"></span>
                                    </div>
                                    <div class="text">
                                        <p>Mauris imperdiet non ligula et lobortis.</p>
                                    </div>
                                </li>*@
                        </ul>
                        <div class="get-to-know__it-solutions">
                            <div class="get-to-know__it-solutions-icon">
                                <span class="icon-data-analytics"></span>
                            </div>
                            <div class="get-to-know__it-solutions-text-box">
                                <p class="get-to-know__it-solutions-text">
                                    @item.Subheading
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--Get To Know End-->
<!--Services One Start-->
<section class="services-one" id="services"
         style="background-image: url(../assets/images/shapes/service-bg-1-1.png);">
    <div class="service-one__shape-1"></div><!-- /.service-one__shape-1 -->
    <div class="service-one__shape-2"></div><!-- /.service-one__shape-2 -->
    <div class="container">
        <div class="services-one__top">
            <div class="row">
                @foreach (var item in Model.servicesTitles)
                {
                    <div class="col-xl-6 col-lg-6">
                        <div class="services-one__top-left">
                            <div class="section-title text-left">
                                <div class="section-title__tagline-box">
                                    <span class="section-title__tagline">What we’re offering</span>
                                    <div class="section-title-shape">
                                        <img src="~/assets/images/shapes/section-title-shape.png" alt="">
                                    </div>
                                </div>
                                <h2 class="section-title__title">@item.Title</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="services-one__top-right">
                            <p class="services-one__top-text">
                                @item.Text
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="services-one__bottom">
            <ul class="list-unstyled services-one__list">
                @foreach (var item in Model.servicesBoxes)
                {
                    <li class="services-one__single">
                        <div class="services-one__content">
                            <div class="services-one__icon">
                                <span>@Html.Raw(item.Icon)</span>
                            </div>
                            <h3 class="services-one__title">
                                <a href="product-development.html">
                                    @item.Title1 <br>
                                    @item.Title2
                                </a>
                            </h3>
                            <p class="services-one__text">@item.Text1<br>@item.Text2</p>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<!--Services One End-->
<!--Business From Start-->
<section class="business-from">
    @foreach (var item in Model.servicesTitles)
    {
        <div class="business-from-bg-box">
            <div class="business-from-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                 style="background-image: url(../assets/images/backgrounds/@item.Image);"></div>
        </div>
        <div class="container">
            <div class="business-from__inner text-center">
                <p class="business-from__sub-title">@item.SubTitle1</p>
                <h2 class="business-from__title">@item.SubTitle2</h2>
                <div class="business-from__btn-box">
                    <a href="contact.html" class="business-from__btn thm-btn">Contact us now</a>
                </div>
            </div>
        </div>
    }
</section>
<!--Business From End-->
<!--Testimonial One Start-->
@* <section class="testimonial-one" id="testimonials">
        <div class="testimonial-one__inner">
            <div class="testimonial-one-shape float-bob-x">
                <img src="~/assets/images/shapes/testimonial-one-shape.png" alt="">
            </div>
            <div class="container">
                <div class="testimonial-one__inner-content">
                    <div class="owl-carousel owl-theme thm-owl__carousel testimonial-one__carousel"
                         data-owl-options='{
                         "loop" : true,
                         "autoplay" : true,
                         "margin" : 30,
                         "nav" : false,
                         "dots" : true,
                         "smartSpeed" : 500,
                         "autoplayTimeout" : 10000,

                                "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "768": {
                                        "items": 1
                                    },
                                    "992": {
                                        "items": 1
                                    },
                                    "1200": {
                                        "items": 1
                                    }
                                }
                            }'>
                        @foreach (var item in Model.testimonials)
                        {
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__top-content">
                                    <div class="testimonial-one__img">
                                        <img src="assets/images/testimonial/@item.Image" style="height:170px" alt="">
                                    </div>
                                    <div class="testimonial-one__content">
                                        <p class="testimonial-one__text">
                                            @item.Text
                                        </p>
                                        <div class="testimonial-one__bottom-content">
                                            <div class="testimonial-one__client-info">
                                                <h5 class="testimonial-one__client-name">@item.Name</h5>
                                                <p class="testimonial-one__client-company">@item.Company</p>
                                            </div>
                                            <div class="testimonial-one__quote">
                                                <img src="assets/images/testimonial/testimonial-1-quote.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!--Testimonial One End-->
<!--Project One Start-->
<section class="project-one" id="projects">
    <div class="project-one__inner">
        <div class="container">
            <div class="section-title text-center">
                <div class="section-title__tagline-box">
                    <span class="section-title__tagline">Recently completed work</span>
                    <div class="section-title-shape">
                        <img src="~/assets/images/shapes/section-title-shape.png" alt="">
                    </div>
                </div>
                @foreach (var item in Model.projectBoxes)
                {
                    <h2 class="section-title__title">@item.TopTitle</h2>
                }
            </div>
            <div class="row">
                @foreach (var item in Model.projectBoxes)
                {
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <!--Project One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="~/assets/images/project/@item.Image" style="height:300px" alt="">
                                <a href="project-details.html"></a>
                            </div>
                            <div class="project-one__content">
                                <span class="project-one__sub-title">@item.BoxTitle</span>
                                <h3 class="project-one__title">
                                    <a href="project-details.html">
                                        @item.Name1
                                        <br> @item.Name2
                                    </a>
                                </h3>
                                <a href="@item.Link" class="thm-btn project-one__btn">View our project</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--Project One End-->
<!--Tech Services Start-->
<section class="tech-services">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.projectAbouts)
            {
                <div class="col-xl-6">
                    <div class="tech-services__left">
                        <div class="tech-services__img-box wow slideInLeft" data-wow-delay="100ms"
                             data-wow-duration="2500ms">
                            <div class="tech-services__img">
                                <img src="~/assets/images/project/@item.Image" alt="">
                            </div>
                            <div class="tech-services__img-content">
                                <p class="tech-services__img-text">
                                    @item.BoxText
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="tech-services__right">
                        <div class="section-title text-left">
                            <div class="section-title__tagline-box">
                                <span class="section-title__tagline">Stay protected</span>
                                <div class="section-title-shape">
                                    <img src="~/assets/images/shapes/section-title-shape.png" alt="">
                                </div>
                            </div>
                            <h2 class="section-title__title">@item.Title</h2>
                        </div>
                        <p class="tech-services__text">
                            @item.Text
                        </p>
                        <ul class="list-unstyled tech-services__points">
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="content">
                                    <h4>@item.List1</h4>
                                    <p>@item.List2</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--Tech Services End-->
<!--Counter One Start-->
<section class="counter-one">

    <div class="counter-one__bg" style="background-image: url(../assets/images/backgrounds/main-slider-1-1.jpg); "></div>

    <!-- /.counter-one__bg -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="list-unstyled counter-one__list">
                    @foreach (var item in Model.counters)
                    {
                        <li class="counter-one__single wow fadeInUp" data-wow-delay="100ms">
                            <div class="counter-one__icon">
                                <span>@Html.Raw(item.Icon)</span>
                            </div>
                            <h3>@item.Odometer</h3>
                            <p class="counter-one__title">@item.Title</p>
                            <p class="counter-one__text">@item.Text</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Counter One End-->
<!--Helping Start-->
<section class="helping">
    <div class="helping-wrapper">
        @foreach (var item in Model.helpings)
        {
            <div class="helping__left">
                <div class="helping__left-bg"
                     style="background-image: url(../assets/images/backgrounds/@item.Image);"></div>
            </div>
            <div class="helping__right">
                <div class="helping-shape-1  wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms">
                    <img src="~/assets/images/shapes/helping-shape-1.png" alt="">
                </div>
                <div class="helping__right-content">
                    <div class="section-title text-left">
                        <div class="section-title__tagline-box">
                            <span class="section-title__tagline">Technology solution</span>
                            <div class="section-title-shape">
                                <img src="~/assets/images/shapes/section-title-shape.png" alt="">
                            </div>
                        </div>
                        <h2 class="section-title__title">@item.Title</h2>
                    </div>
                    <p class="helping__text">
                        @item.Text
                    </p>
                    <ul class="list-unstyled helping__points">
                        <li>
                            <div class="icon">
                                <span class="icon-data-protection"></span>
                            </div>
                            <h3 class="helping__title">@item.SubTitle</h3>
                            <p class="helping__text-2">@item.SubText</p>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</section>
<!--Helping End-->
<!--Blog One Start-->
<section class="blog-one" id="blog">
    <div class="container">
        <div class="section-title text-center">
            <div class="section-title__tagline-box">
                <span class="section-title__tagline">What’s happening</span>
                <div class="section-title-shape">
                    <img src="assets/images/shapes/section-title-shape.png" alt="">
                </div>
            </div>
            @foreach (var item in Model.blogs)
            {
                <h2 class="section-title__title">@item.Title</h2>

            }
        </div>
        <div class="row">
            @foreach (var item in Model.blogs)
            {
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <!--Blog One single-->
                    <div class="blog-one__single">
                        <div class="blog-one__img">
                            <img src="assets/images/blog/@item.Image" style="height:250px" alt="">

                            <a href="@item.Link">
                                <span class="blog-one__plus"></span>
                            </a>
                        </div>
                        <div class="blog-one__content">
                            <ul class="list-unstyled blog-one__meta">
                                <li>
                                    <a href="@item.Link"><i class="far fa-clock"></i> @item.DateTime</a>
                                </li>
                                <li>
                                    <a href="@item.Link"><i class="far fa-user-circle"></i> @item.byFrom</a>
                                </li>
                            </ul>
                            <h3 class="blog-one__title">
                                <a href="@item.Link">@item.Name</a>
                            </h3>
                            <div class="blog-one__bottom">
                                <a href="@item.Link">Learn more<i class="fa fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
<!--Blog One End-->



<!--Contact Page Start-->
<section  class="blog-one" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="section-title__title" style="padding-bottom: 30px" >Contact</h2>
                <div class="contact-page__form">
                    <div asp-validation-summary="All"></div>
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" required placeholder="Your name" asp-for="contact.Name">
                                    <span asp-validation-for="contact.Name"></span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="email" required placeholder="Email address" asp-for="contact.Email">
                                    <span asp-validation-for="contact.Email"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box text-message-box">
                                    <textarea required placeholder="Write comment" asp-for="contact.Message"></textarea>
                                    <span asp-validation-for="contact.Message"></span>
                                </div>
                                <div class="comment-form__btn-box">
                                    <button type="submit" class="thm-btn comment-form__btn">Send a message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact Page End-->

