@model IList<Layout>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}

<div>
    <a href="/Admin/Layout/Create" class="btn btn-success">Add</a>
</div>

<div class="table-responsive scrollbar">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">SocialLink1</th>
                <th scope="col">SocialIcon1</th>
                <th scope="col">SocialLink2</th>
                <th scope="col">SocialIcon2</th>
                <th scope="col">SocialLink3</th>
                <th scope="col">SocialIcon3</th>
                <th scope="col">SocialLink4</th>
                <th scope="col">SocialIcon4</th>
                <th scope="col">Question</th>
                <th scope="col">Phone</th>

                <th class="text-end" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ID</td>
                <td>@item.Address</td>
                <td>@item.Email</td>
                <td>@item.SocialLink1</td>
                <td>@item.SocialIcon1</td>
                <td>@item.SocialLink2</td>
                <td>@item.SocialIcon2</td>
                <td>@item.SocialLink3</td>
                <td>@item.SocialIcon3</td>
                <td>@item.SocialLink4</td>
                <td>@item.SocialIcon4</td>
                <td>@item.Question</td>
                <td>@item.Phone</td>


                <td class="text-end">
                    <div>
                        <a href="/Admin/Layout/Edit/@item.ID"><i class="fas fa-edit"></i></a>
                        <a href="/Admin/Layout/Delete/@item.ID" onclick="return confirm('Are you delete?')"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

