@model IList<Home>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}

<div>
    <a href="/Admin/Home/Create" class="btn btn-success">Add</a>
</div>

<div class="table-responsive scrollbar">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title 1</th>
                <th scope="col">Title 2</th>
                <th scope="col">Video Link</th>
                <th scope="col">Image</th>

                <th class="text-end" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Title1</td>
                    <td>@item.Title2</td>
                    <td>@item.VideoLink</td>
                    <td>
                        <img width="200" height="150" src="~/assets/images/backgrounds/@item.Image">
                    </td>

                    <td class="text-end">
                        <div>
                            <a href="/Admin/Home/Edit/@item.ID"><i class="fas fa-edit"></i></a>
                            <a href="/Admin/Home/Delete/@item.ID" onclick="return confirm('Are you delete?')"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

